#date-picker-input-container {
    border: solid 1px #c8c7cc;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}